# Secrets locales
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
!appsettings.json

# Carpetas de build
**/bin/
**/obj/

# Archivos de usuario Visual Studio
*.user
.vs/